# configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.instance.name }}-replay-service-config
  namespace: {{ .Values.namespace.name }}
  labels:
    app: {{ .Values.instance.name }}-replay-service
    instance: {{ .Values.instance.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "6"
data:
  data:
  {{- range $key, $value := .Values.transaction_syncing_service.environment }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  REDIS_URL: {{ printf "redis://redis-%s.%s.svc.cluster.local:%v" .Values.instance.name .Values.namespace.name (.Values.redis.port | int) | quote }}
