# redis-pvc.yaml
{{- if and .Values.redis.enabled .Values.redis.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-{{ .Values.instance.name }}-pvc
  namespace: {{ .Values.namespace.name }}
  labels:
    app: redis-{{ .Values.instance.name }}
    instance: {{ .Values.instance.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.redis.persistence.storageClass }}
  resources:
    requests:
      storage: {{ .Values.redis.persistence.size }}
{{- end }}
