# values.yaml
# Namespace configuration
namespace:
  name: default

nodePool:
  label: default

instance:
  name: default

# Redis configuration
redis:
  enabled: true
  # Name will be: redis-{instance.name}
  replicas: 1
  image:
    repository: "redis"
    tag: "7-alpine"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  persistence:
    enabled: true
    storageClass: "gp3" # Change to your storage class
    size: 5Gi
  port: 6379
  config:
    appendonly: "yes"
    appendfsync: "everysec"
    save: "900 1 300 10 60 10000" # Save snapshots

# Transaction Syncing Service configuration
transaction_syncing_service:
  # Name will be: {instance.name}-replay-service
  replicas: 1
  image:
    repository: "public.ecr.aws/o5q6k5w4/karnot-operator/txn_replay_service"
    tag: "v1.0.2"
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
